/* 
################
#     RESET    #
################
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
################
#    LAYOUT    #
################
*/

body {
  font-family: "Montserrat", sans-serif;
}

/* 
#******************
#     DEBUG       *
#******************
*/

.bordered {
  border: 2px dashed orangered;
}

/* 
#******************
#    SECTIONS     *
#******************
*/

/* ##MAIN CONTENT## */

#top-content {
  height: calc(100vh - 100px);
  display: flex;
  background-color: #141922;
}

#content {
  width: calc(100% - 80px);
  overflow: auto;
}

#top-bar {
  height: 80px;
  line-height: 80px;
  text-align: right;
  position: sticky;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.upgrade-button {
  margin-right: 1rem;
  color: white;
  border: 1px solid gray;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 0.6rem 2rem;
  font-weight: bold;
}

/* ## SIDEBAR ## */

#sidebar {
  width: 300px;
  background-color: rgb(0, 0, 0);
}

#main-content ul {
  list-style: none;
}

/* ## CONTENT## */

#content {
  width: calc(100% - 300px);
}

/* ##FOOTER## */

#player {
  height: 100px;
  padding: 0.5rem;
  color: white;
  background-color: #232323;
  display: flex;
  justify-content: space-between;
}

/* SONG DETAILS */

.song-details {
  display: flex;
  gap: 1rem;
}

.song-details > img {
  width: 70px;
  display: inline-block;
}

.song-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.save-menu {
  display: flex;
  align-items: center;
}

/* SONG CONTROLS  */

.player-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 50%;
}

.player-time {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 50%;
}

.progress-bar-container {
  flex-grow: 1;
}

.progress-bar {
  display: block;
  width: 300px;
  background-color: grey;
  height: 4px;
  border-radius: 2px;
}

.progress-bar > .song-progress {
  display: block;
  background-color: white;
  height: 4px;
  border-radius: 2px;
  width: 30%;
}

.vol-controller {
  display: flex;
}

/* 
#******************
#   RESPONSIVE    *
#******************
*/
