/* 
################
#     RESET    #
################
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
################
#    LAYOUT    #
################
*/

/* 
#******************
#     DEBUG       *
#******************
*/

.bordered {
  border: 2px dashed orangered;
}

/* 
#******************
#    SECTIONS     *
#******************
*/

/* ##MAIN CONTENT## */

#main-content {
  display: flex;
}

/* ## ASIDE ## */

#aside {
  width: 50px;
  height: calc(100vh - 100px);
  background-color: gray;
}

/* ## CONTENT## */

#content {
  width: calc(100vw - 50px);
}

/* ##FOOTER## */

#player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #232323;
  color: white;
  padding: 0.5rem;
}

.pic-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.pic-author {
  width: 50px;
  display: inline-block;
}

.author-name {
  display: flex;
  flex-direction: column;
}

.save-menu {
  padding-left: 2rem;
}

.save-menu > i {
  padding: 0 0.5rem;
}

.controller {
  display: flex;
  flex-direction: column;
}

.scrollbar {
  height: 1px;
  width: 100%;
  background-color: white;
  border-radius: 1rem;
}

.player-time {
  display: flex;
}

/* 
#******************
#   RESPONSIVE    *
#******************
*/
