/* 
#########################
#   CUSTOM PROPERTIES   #
#########################
*/

:root {
  --text-color: #ffffff;
  --text-color-muted: #a3a3a3;
  --main-bg-color: #141922;
  --sidebar-bg-color: #000000;
  --player-bg-color: #282828;
  --header-bg-color: rgba(0, 0, 0, 0.5);
  --top-bar-heigth: 80px;
  --top-bar-line-height: 80px;
  --sidebar-width: 300px;
  --player-height: 100px;
  --base-spacing-grid: 1rem;
  --cover-pixel-image: 230px;
}

/* 
#########################
#        RESET          #
#########################
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
#########################
#         UTILS         #
#########################
*/

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--base-spacing-grid);
}

.container .row {
  margin-left: calc(var(--base-spacing-grid) * -1);
  margin-right: calc(var(--base-spacing-grid) * -1);
}

.container .row .col {
  padding: var(--base-spacing-grid);
}

.row {
  display: flex;
}

/* 
#########################
#        LAYOUT         #
#########################
*/

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--main-bg-color);
}

/* 
#******************
#     DEBUG       *
#******************
*/

.bordered {
  border: 2px dashed orangered;
}

/* 
#******************
#    SECTIONS     *
#******************
*/

/* ##MAIN CONTENT## */

#top-content {
  display: flex;
  height: calc(100vh - var(--player-height));
  background-color: var(--main-bg-color);
}

#top-bar {
  height: var(--top-bar-heigth);
  line-height: var(--top-bar-line-height);
  background-color: var(--header-bg-color);
  text-align: right;
  position: sticky;
  top: 0;
  right: 0;
}

#main-content ul {
  list-style: none;
}

.upgrade-button {
  margin-right: 1rem;
  color: white;
  border: 1px solid var(--text-color-muted);
  background-color: var(--header-bg-color);
  border-radius: 20px;
  padding: 0.6rem 2rem;
  font-weight: bold;
}

/* ## CONTENT## */

#content {
  width: calc(100% - (var(--sidebar-width)));
}

#content {
  width: calc(100% - 80px);
  overflow: auto;
}

/* ALBUM COLLECTION */

/* MENU */
.menu {
  display: flex;
  justify-content: center;
}

#album-collection .menu {
  display: flex;
}

#album-collection .menu li {
  display: inline-block;
  list-style: none;
  color: var(--text-color-muted);
  margin: 1rem;
  font-size: 0.8rem;
}

#album-collection h2 {
  color: var(--text-color);
  margin: 1rem 0 1rem 1rem;
}

#album-collection p {
  margin: 1rem;
  color: var(--text-color-muted);
}

.card img {
  width: var(--cover-pixel-image);
}

.popular-arstist img {
  object-fit: contain;
  border-radius: 50%;
  width: 100%;
}

.created-for-you img,
.popular-arstist img {
  width: var(--cover-pixel-image);
  height: var(--cover-pixel-image);
}

figcaption {
  text-align: center;
}

figcaption h4 {
  color: var(--text-color);
  font-size: 1rem;
  margin-top: 10px;
}

figcaption h5 {
  color: var(--text-color-muted);
  margin-top: 5px;
  font-size: 0.8rem;
}

/* ## SIDEBAR ## */

#sidebar {
  width: var(--sidebar-width);
  background-color: var(--sidebar-bg-color);
}

.logo {
  width: 13rem;
  padding: 1rem 3rem 2rem 1rem;
}

#sidebar li {
  color: var(--text-color);
  list-style: none;
}

#sidebar .library-list img {
  display: inline-block;
  width: 2rem;
}

/* ##FOOTER## */

#player {
  display: flex;
  justify-content: space-between;
  height: var(--player-height);
  color: var(--text-color);
  background-color: var(--player-bg-color);
  padding: 0.5rem;
}

/* SONG DETAILS */

.song-details {
  display: flex;
  gap: 1rem;
}

.song-details > img {
  width: 80px;
}

.song-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player-icons {
  display: flex;
  align-items: center;
}

.player-icons i {
  padding: 0.6rem;
}

.song-details .player-icons {
  color: var(--text-color-muted);
}

/* SONG CONTROLS  */

.player-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 50%;
}

.player-time {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 50%;
}

/* PROGRESS BAR */

.progress-bar-container {
  flex-grow: 1;
}

.progress-bar {
  display: block;
  width: 300px;
  background-color: var(--text-color-muted);
  height: 4px;
  border-radius: 2px;
}

.progress-bar > .song-progress {
  display: block;
  background-color: var(--text-color);
  height: 4px;
  border-radius: 2px;
  width: 30%;
}

/* VOLUME CONTROLS */

.vol-controls {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.volume-bar-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.volume-bar {
  display: block;
  width: 100px;
  background-color: var(--text-color-muted);
  height: 4px;
  border-radius: 2px;
}

.volume-bar > .volume-level {
  display: block;
  background-color: var(--text-color);
  height: 4px;
  border-radius: 2px;
  width: 30%;
}

/* 
#******************
#   RESPONSIVE    *
#******************
*/

/* ##MOBILE## */

@media screen and (max-width: 576px) {
  :root {
    --sidebar-width: 50px;
  }
}
