/* 
################
#     RESET    #
################
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
################
#    LAYOUT    #
################
*/

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  width: 1100px;
  height: 720px;
}

.row,
.col {
  display: flex;
  width: 1000px;
}

/* 
#******************
#     DEBUG       *
#******************
*/

.bordered {
  border: 2px dashed orangered;
}

/* 
#******************
#    SECTIONS     *
#******************
*/

/* ##MAIN CONTENT## */

#main-content {
  display: flex;
}

/* ## ASIDE ## */

#aside {
  width: 50px;
  height: calc(100vh - 100px);
  background-color: black;
}

/* ## CONTENT## */

#content {
  width: calc(100vw - 50px);
}

/* ##FOOTER## */

#player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #232323;
  color: white;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

/* 
#******************
#   RESPONSIVE    *
#******************
*/
