/* 
#########################
#   CUSTOM PROPERTIES   #
#########################
*/

:root {
  --text-color: #ffffff;
  --text-color-muted: #a3a3a3;
  --main-bg-color: #141922;
  --sidebar-bg-color: #000000;
  --player-bg-color: #282828;
  --header-bg-color: rgba(0, 0, 0, 0.5);
  --hover-color: rgb(61, 255, 61);
  --top-bar-heigth: 80px;
  --top-bar-line-height: 80px;
  --sidebar-width: 300px;
  --player-height: 100px;
  --base-spacing-grid: 1rem;
}

/* 
#########################
#        RESET          #
#########################
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

img {
  max-width: 100%;
}

a {
  color: var(--text-color-muted);
  text-decoration: none;
}

a:hover {
  color: var(--text-color);
}

ul {
  list-style: none;
}

/* 
#########################
#         UTILS         #
#########################
*/

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--base-spacing-grid);
}

.container .row {
  margin-left: calc(var(--base-spacing-grid) * -1);
  margin-right: calc(var(--base-spacing-grid) * -1);
}

.container .row .col {
  padding: var(--base-spacing-grid);
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* 
#########################
#        LAYOUT         #
#########################
*/

/* 
#******************
#    SECTIONS     *
#******************
*/

/* ##MAIN CONTENT## */

#top-content {
  display: flex;
  height: calc(100vh - var(--player-height));
  background-color: var(--main-bg-color);
  overflow: hidden;
}

/* ## CONTENT## */

#content {
  width: calc(100% - (var(--sidebar-width)));
  overflow: auto;
}

#top-bar {
  height: var(--top-bar-heigth);
  line-height: var(--top-bar-line-height);
  background-color: var(--header-bg-color);
  text-align: right;
  position: sticky;
  z-index: 2;
  top: 0;
  right: 0;
}

.upgrade-button {
  margin-right: 1rem;
  color: white;
  border: 1px solid var(--text-color-muted);
  background-color: var(--header-bg-color);
  border-radius: 20px;
  padding: 0.6rem 2rem;
  font-weight: bold;
}

/* ALBUM COLLECTION */

/* ALBUM COLLECTION MENU */

.menu {
  display: flex;
  justify-content: center;
}

#album-collection .menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#album-collection .menu .menu-item {
  position: relative;
  color: var(--text-color-muted);
  margin: 1rem;
  font-size: 0.8rem;
}

#album-collection .menu .hovered {
  position: absolute;
  top: 100%;
  left: 50%;
  display: block;
  width: 50%;
  height: 3px;
  transform: translateX(-50%);
  background-color: transparent;
}

#album-collection .menu li:hover .hovered {
  background-color: var(--hover-color);
}

/* ALBUM COLLECTION GALLERY*/

#album-collection h2 {
  color: var(--text-color);
  margin: 1rem 0 1rem 1rem;
}

#album-collection p {
  margin: 1rem;
  color: var(--text-color-muted);
}

#album-collection .col {
  width: calc(100% / 6);
  min-width: 140px;
}

.popular-arstist img {
  object-fit: contain;
  border-radius: 50%;
}

figcaption {
  text-align: center;
}

figcaption h4 {
  color: var(--text-color);
  font-size: 1rem;
  margin-top: 10px;
}

figcaption h5 {
  color: var(--text-color-muted);
  margin-top: 5px;
  font-size: 0.8rem;
}

.hover-cover {
  position: relative;
}

.hover-cover img {
  display: block;
}

.layover {
  display: none;
}

.hover-cover:hover .layover {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: var(--header-bg-color);
  cursor: pointer;
}

.layover > i {
  font-size: 4rem;
}

.popular-arstist .layover {
  border-radius: 50%;
}

/* ## SIDEBAR ## */

#sidebar {
  width: var(--sidebar-width);
  background-color: var(--sidebar-bg-color);
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  overflow: auto;
}

#sidebar .logo {
  line-height: var(--top-bar-line-height);
}

#sidebar .logo img {
  vertical-align: middle;
  width: 75%;
}

#sidebar .library-list-links svg {
  height: 1.2rem;
  vertical-align: middle;
}

#sidebar li {
  font-size: 1rem;
  padding: 0.5rem 0;
}

.library-list-links {
  margin-bottom: 1rem;
}

.sidebar-playlist ul {
  overflow: auto;
  height: calc(100vh - 510px);
  min-height: 80px;
}

.add-playlist {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
}

.add-playlist:hover .add-playlist-button {
  background-color: var(--text-color);
  cursor: pointer;
}

.add-playlist-button {
  width: 2.5rem;
  line-height: 2.5rem;
  background-color: var(--text-color-muted);
  font-size: 2.5rem;
  border: none;
}

.add-playlist label {
  vertical-align: middle;
  text-align: center;
  margin-left: 0.5rem;
  color: var(--text-color-muted);
  cursor: pointer;
}

.add-playlist:hover label {
  color: var(--text-color);
}

.sidebar-playlist {
  margin-top: 1rem;
}

#sidebar .user-section {
  margin-top: auto;
  padding: 1rem 0;
}

.download-section {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--text-color-muted);
  color: var(--text-color-muted);
  margin-bottom: 0.5rem;
  cursor: pointer;
  display: flex;
  align-content: center;
}

.download-section:hover .install-text {
  color: var(--text-color);
}

.user-info {
  display: flex;
  align-items: center;
}

.download-icon {
  height: 1.2rem;
  margin-right: 0.5rem;
}

.user-image {
  width: 40px;
  height: 40px;
  background-color: var(--text-color-muted);
  border-radius: 50%;
  margin-right: 0.5rem;
  overflow: hidden;
  padding: 0.1rem;
}

/* SIDEBAR XS */

.sidebar-xs-top,
.sidebar-xs-bottom {
  display: none;
}

.sidebar-xs-top svg {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.sidebar-xs-bottom {
  margin-top: auto;
  padding-bottom: 0.5rem;
}

.sidebar-xs-bottom .user-image {
  width: 20px;
  height: 20px;
}

.sidebar-xs-bottom .download-icon {
  margin-bottom: 2rem;
}

/* ##FOOTER## */

#player {
  display: flex;
  justify-content: space-between;
  height: var(--player-height);
  color: var(--text-color);
  background-color: var(--player-bg-color);
  padding: 0.5rem;
}

/* SONG DETAILS */

.song-details {
  display: flex;
}

.song-details > img {
  width: 80px;
}

.song-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.5rem;
}

.player-icons {
  display: flex;
  align-items: center;
}

.player-icons i {
  padding: 0.6rem;
}

.song-details .player-icons {
  color: var(--text-color-muted);
}

/* SONG CONTROLS  */

.player-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 50%;
}

.fa-circle-play:hover {
  font-size: 2.5rem;
}

.player-time {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 50%;
}

.song-time {
  font-size: 0.9rem;
}

/* PROGRESS BAR */

.progress-bar-container {
  flex-grow: 1;
}

.progress-bar {
  display: block;
  width: 300px;
  background-color: var(--text-color-muted);
  height: 5px;
  border-radius: 4px;
}

.progress-bar > .song-progress {
  display: block;
  background-color: var(--text-color);
  height: 5px;
  border-radius: 4px;
  width: 30%;
  position: relative;
}

.progress-bar:hover .song-progress {
  background-color: var(--hover-color);
  cursor: pointer;
  display: block;
}

.cursor {
  display: none;
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.progress-bar:hover .cursor {
  display: block;
}

/* VOLUME CONTROLS */

.vol-controls {
  display: flex;
  align-items: center;
}

.volume-bar-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.volume-bar {
  display: block;
  width: 100px;
  background-color: var(--text-color-muted);
  height: 5px;
  border-radius: 4px;
}

.volume-bar > .volume-level {
  display: block;
  background-color: var(--text-color);
  height: 5px;
  border-radius: 4px;
  width: 30%;
  position: relative;
}

.volume-bar:hover .volume-level {
  background-color: var(--hover-color);
  cursor: pointer;
}

.volume-bar:hover .cursor {
  display: block;
}

/* 
#******************
#   RESPONSIVE    *
#******************
*/

/* ##MEDIUM## */

@media screen and (max-width: 992px) {
  /* ALBUM COLLECTION */
  #album-collection .col {
    width: calc(100% / 4);
    min-width: 130px;
  }

  /* FOOTER */
  .progress-bar {
    width: 250px;
  }

  .player-icons i {
    padding: 0.5rem;
  }

  .song-time {
    font-size: 0.7rem;
  }
}

/* ##SMALL## */

@media screen and (max-width: 768px) {
  /* ALBUM COLLECTION */
  #album-collection .col {
    width: calc(100% / 2);
  }

  /* FOOTER */
  .player-buttons {
    gap: 0.5rem;
  }

  .song-details {
    gap: 0.5rem;
  }

  .player-icons i {
    padding: 0.4rem;
  }

  .song-details,
  .vol-controls {
    display: none;
  }

  #player {
    justify-content: center;
  }
}

/* ##X-SMALL## */

@media screen and (max-width: 576px) {
  :root {
    --sidebar-width: 50px;
  }

  /* ALBUM COLLECTION */

  #album-collection .col {
    width: calc(100% / 2);
  }

  /* SIDEBAR */

  #sidebar .logo,
  .library-list-links,
  .sidebar-playlist,
  .user-section {
    display: none;
  }

  #sidebar .sidebar-xs-top,
  .sidebar-xs-bottom {
    display: block;
  }
}
