/* 
################
#     RESET    #
################
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
################
#    LAYOUT    #
################
*/

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  width: 1100px;
  height: 720px;
}

.row,
.col {
  display: flex;
  width: 1000px;
}

/* 
#******************
#     DEBUG       *
#******************
*/

.bordered {
  border: 2px dashed orangered;
}

/* 
#******************
#    SECTIONS     *
#******************
*/

/* ## ASIDE ## */

.aside {
}

/* ##FOOTER## */

#player {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: #232323;
  color: white;
}
